.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .input label {
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .input input {
    /* width: 30em; */
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }

.invalid label,
.input-error {
	color: #ca3e51;
} 

.invalid input {
	border-color: #aa0b20;
	background-color: #ffeff1;
}